@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap");
* {
    font-family: "Orbitron", sans-serif !important;
}

html {
    overflow-y: hidden;
}

body {
    background-color: #21190f !important;
    height: 100vh;
    overflow: "hidden !important";
}

a {
    text-decoration: none;
    color: unset;
}

#textDisplay::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    background-color: transparent;
}

#textDisplay::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#textDisplay::-webkit-scrollbar-thumb {
    background-color: transparent;
    color: #9be6ab;
}

.blinkMe {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent !important;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #aa8270;
    border-radius: 30px;
}
