* {
	font-family: "Montserrat", sans-serif;
	/* outline: none !important; */
}

*:focus {
	/* outline: none !important; */
}

a {
	text-decoration: none;
	color: unset;
}

#textDisplay::-webkit-scrollbar-track {
	-webkit-box-shadow: transparent;
	background-color: transparent;
}

#textDisplay::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

#textDisplay::-webkit-scrollbar-thumb {
	background-color: transparent;
	color: #9be6ab;
}

.blinkMe {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
